VITE_FIREBASE_API_KEY=AIzaSyDePHXOa8DnhwoOgo4LwfZpuv-iWDU9Gcs
VITE_FIREBASE_AUTH_DOMAIN=ckg-malimpung-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ckg-malimpung-app
VITE_FIREBASE_STORAGE_BUCKET=ckg-malimpung-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=591893975061
VITE_FIREBASE_APP_ID=1:591893975061:web:975383d26e8d2279f07e1c
